p Voici ci-joint l'export CSV des articles à retourner aux déposants.

ul
  li Date de mise en ligne maximum: #{@max_droping_date}
  li Date à laquelle les articles seront retirés de la vente: #{@giving_date}
