*.rbc
**.orig

.byebug_history
.env
.rspec
.powenv
capybara-*.html
rerun.txt
pickle-email-*.html

/.bundle
/.gems
/config/application.yml
/config/database.yml
/coverage/
/local
/log
/public/assets
/public/uploads
/public/system
/public/companies
/spec/tmp
/tmp
/vendor/bundle
/vendor/assets/bower_components
