@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato:300,400,700');

@import "foundation-settings/labels";
@import "foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;

body {
  font-size: 3mm;
}

.product-label {
  margin-bottom: 5mm;

  .hole {
    margin-bottom: 2mm;
  }

  .shop-name {
    color: #666;
  }

  .date {
    margin-bottom: 3mm;
    color: #666;
  }

  .sku {
    margin-bottom: 3mm;
    font-size: 4mm;
  }

  .size {
    margin-bottom: 5mm;
    font-size: 4mm;

    span {
      display: block;
      font-size: 3mm;
      color: #666;
    }
  }

  .price {
    font-size: 5mm;
  }

  .title {
    margin-top: 3mm;
    height: 12mm;
    line-height: 3mm;
    overflow: hidden;
  }
}
